@page "/profile"
@using ClubOyster_Cursach.Data;
@inject UserService userService
@inject IWebHostEnvironment Environment


<PageTitle>Your Profile</PageTitle>

<section class="h-100 bg-black">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                        <div class="ms-3 mt-2 d-flex flex-column" style="width: 170px;">
                            <img src="@pathPhoto"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 0">
                            <button type="button" class="btn btn-outline-dark" @onclick="EditProfile" data-mdb-ripple-color="dark"
                                    style="z-index: 0;">
                                Edit profile
                            </button>
                            <strong class="text-black">@message</strong>
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h3 class="fw-bold fs-3">@user.FirstName</h3>
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: white;">

                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5 py-5">
                            <p class="lead fw-normal mb-1">Информация</p>
                            <div class="p-4 h-75" style="background-color: white;">
                                <label class="font-italic">Фамилия:</label>
                                <InputText class="font-italic mb-2" @bind-Value="@user.SecondName" placeholder="Введите вашу фамилию" disabled="@dis">@user.SecondName</InputText>
                                <label class="font-italic">Имя:</label>
                                <InputText class="font-italic mb-2" @bind-Value="@user.FirstName" placeholder="Введите ваше имя" disabled="@dis">@user.FirstName</InputText>
                                <label class="font-italic">Отчество:</label>
                                <InputText class="font-italic mb-2" @bind-Value="@user.Surname" placeholder="Введите ваше отчество" disabled="@dis">@user.Surname</InputText>
                                <label class="font-italic">Почта:</label>
                                <InputText id="emailInput" class="font-italic mb-2" @bind-Value="@user.Email" disabled="@dis">@user.Email</InputText>
                                <label class="font-italic">Телефон:</label>
                                <InputText class="font-italic mb-2" maxlength="11" @bind-Value="@user.Phone" disabled="@dis">@user.Phone</InputText>
                            </div>
                            <button type="button" class="btn btn-outline-dark" hidden="@hid" @onclick="SaveProfile" data-mdb-ripple-color="dark"
                                    style="z-index: 0;">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    User user = new User();
    bool dis = true;
    bool hid = true;
    private string? message;
    string pathPhoto = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjvJKg6aXJNnwv4EpwvCyU-E7gOXGlS_TCygX4YhPpQ4cObKtqPdn_OrDE_c5RwwCdYW0&usqp=CAU";

    protected override async Task OnInitializedAsync()
    {
        user = userService.Get();
    }

    private void EditProfile()
    {
        dis = !dis;
        hid = !hid;
    }
    private void SaveProfile()
    {
        MongoDb.ReplaceByName(user, user.Login);
        hid = true;
        dis = true;
    }
}
